---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

.post-tags {
  margin-top: 2em;
  font-style: italic;
  font-size: 0.9em;
}
.post-tags a {
  text-decoration: none;
}